		body {
			font-family: Arial, Sans-Serif;
			margin: 50px;
		}

		li {width: 15%; float: left; height: auto; background-color: #EEE; padding: 20px;}

		li + li {
			margin-left: 20px;
		}

		.bar {
			background: #FFF;
		}

		.barFill {
			background: green;
			height: 5px;
		}

		.range-quantity {background-color: green;}

		#donate {width: 50%; margin: 50px auto;}

		#projects ul {list-style-type: none;}
		#projects h2 {text-align: center;}

		#donate h1 {text-align: center;}

		input#spinner {font-size: 1em; width: 8em; font-weight: bold; margin-left: .2em;}

		.range-max:before, .range-min:before {content: "€";}
		.range-quantity {max-width: 100%;}

		.native-range {width: 100%; font-size: 2em;}